當我們想表示價格或人口數:

In [1]:
import pandas as pd
import numpy as np

In [2]:
price = {'房價':[30,20,10], '人口數':[300,200,100]}
price_data = pd.DataFrame(price, index=['北','中','南'])

In [3]:
price_data

   房價  人口數
北  30  300
中  20  200
南  10  100

由此可知，北區的房價與人口數都比其他兩者高。

當我們想表示貓狗 (0 代表假，1代表真) :

In [4]:
animal = {'嗅覺靈敏':[1,0,0],'看門':[1,1,1]}
animal_cla = pd.DataFrame(animal, index=['animal_1','animal_2','animal_3'])

In [5]:
animal_cla

          嗅覺靈敏  看門
animal_1     1   1
animal_2     0   1
animal_3     0   1

由此可知， animal_1 是狗的機率比其他兩者大。