In [1]:
# 導入模組
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()  # 載入 iris data set
data = pd.DataFrame(iris['data'],columns=['Sepal length','Sepal width','Petal length','Petal width'])  # 將 column 改名
data['class'] = pd.DataFrame(iris['target'])  # 將正確答案加入表格
data = data[['Petal length','Petal width','class']].sample(frac=1).head()  # 只考慮兩個資訊，並隨機的取出五朵花
data.index=[1,2,3,4,5]  # 把五多花的名字改為 1 到 5
data  # 看看表格的樣子

   Petal length  Petal width  class
1           6.9          2.3      2
2           1.4          0.2      0
3           1.3          0.3      0
4           1.3          0.3      0
5           4.5          1.5      1