完成此作業，希望學員瞭解:
監督式與非監督式的差別。

題目為 : 把原始要用來做監督式學習的數據，改為要用來作非監督式的數據。

作業提示 : 把範例程式中最後的 data 改為無標籤數據。

In [1]:
# 範例程式
# 導入模組
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()  # 載入 iris data set
data = pd.DataFrame(iris['data'],columns=['Sepal length','Sepal width','Petal length','Petal width'])  # 將 column 改名
data['class'] = pd.DataFrame(iris['target'])  # 將正確答案加入表格
#使用.head()可以顯示5筆資料（預設是5筆）也可以自訂，只需要在括弧內加上要的數字
data = data[['Petal length','Petal width','class']].sample(frac=1).head()  # 只考慮兩個資訊，並隨機的取出五朵花
data.index=[1,2,3,4,5]  # 把五朵花的名字改為 1 到 5
data  # 看看表格的樣子

   Petal length  Petal width  class
1           4.5          1.3      1
2           1.5          0.2      0
3           5.8          1.6      2
4           3.5          1.0      1
5           1.6          0.2      0

In [3]:
# 題目
data = pd.DataFrame(iris['data'],columns=['Sepal length','Sepal width','Petal length','Petal width'])
data = data[['Petal length','Petal width']].sample(frac=1).head()
data.index=[1,2,3,4,5]
data

   Petal length  Petal width
1           5.6          2.1
2           3.9          1.4
3           4.7          1.4
4           1.4          0.3
5           4.9          1.5

In [ ]:
# 標準解答
# data = data[['Petal length','Petal width']]
# data